{% extends "../home.html" %}
{% load django_bootstrap5 %}
{% block title %}Update Todo{% endblock title %}
{% block main %}
    <div class="container mt-5">
        <h2 class="text-center">Update Todo</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn btn-primary btn-block">Update todo</button><br><br>
                <a class="btn btn-sm btn-info" href="{% url 'todo' %}">Cancel</a>
            </div>
        </form>
    </div>

    {% block remove_in_add_todo.html %}{% endblock remove_in_add_todo.html %}
{% endblock %}