{% extends "../home.html" %}
{% block title %}Will-Do - Change Password{% endblock %}
{% block content %}
    {% load django_bootstrap5 %}
    <div class="container mt-5 pb-5">
        <h2 class="text-center">Change Password</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-block">Change Password</button> <br>
                <u><a href="{% url 'home' %}">Cancel</a></u>
            </div>
        </form>
    </div>
{% endblock content %}